body {
    background-image: url(../img/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    font-family: 'Press Start 2P', system-ui;
    cursor: url(../img/tiny_hammer.png) 15 15, auto;
}

.bonk { cursor: url(../img/tiny_hammer_bonk.png) 15 15, auto;}

.navbar {
    background-color: #e4e4e4;
    border: 4px solid black;
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
    margin: 0 10px;
}

.navbar ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.navbar li { padding: 0 20px; }

.startgame {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startgame input {
    padding: 20px;
    font-size: 18px;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}

.startgame button, button {
    padding: 20px;
    margin: 30px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
}

.reload {
    display: none;
    position: fixed;
    bottom: -5%;
    left: 50%;
    transform: translate(-64%, -50%);
}

.level {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level button {
    padding: 20px;
    margin: 30px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
}

.champTaupiqueur {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding-top: 5%;
}

.hole {
    width: 30%;
    height: 187px;
    background-image: url(../img/hole_1.png);
    background-repeat: no-repeat;
}

.taupiqueur {
    object-fit: contain;
    display: none;
}

.textbox, .leaderboard {
    width: 600px;
    background-color: #e4e4e4;
    border: 4px solid black;
    position: fixed;
    padding: 30px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
    max-height: 800px;
    overflow: auto;
}

.leaderboard {
    overflow-y: scroll;
    top: 55%;
    max-height: 600px;
}

.leaderboard img {
    position: relative;
    bottom: -48px;
}

.textbox p {margin: 40px 20px;}

#timer {
    display: none;
    text-align: center;
    background-color: #e4e4e4;
    border: 4px solid black;
    padding: 10px;
    width: 10%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block!important;
}

audio {
    position: fixed;
    opacity: 0;
}

/*RESPONSIVE*/
@media (max-width:800px) {
    .navbar {flex-flow: row wrap;}
    .champTaupiqueur {
        width: 600px;
        padding-top: 15%;
    }
    .hole {
        width: 40%;
        height: 158px;
        margin: 0 -20px;
    }
}

@media (max-width:640px) {
    .champTaupiqueur {
        width: 500px;
        margin-bottom: 50px;
        padding-top: 30%;
    }
    .hole {
        width: 47%;
        height: 158px;
        margin: -20px 0px;
      }
    .textbox, .leaderboard {
        width: 400px;
        padding: 10px;
        top: 70%;
    }
    .startgame {
        top: 25%;
    }
}