body {
    background-image: url(../img/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 100vh; */
    font-family: 'Press Start 2P', system-ui;
    cursor: url(../img/tiny_hammer.png) 15 15, auto;
}

.navbar {
    background-color: #e4e4e4;
    border: 4px solid black;
    height: 70px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
}

.navbar ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.navbar li {
    padding: 0 20px;
}

.startgame {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    position: fixed;
    padding: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startgame input {
    padding: 20px;
    font-size: 18px;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}
.startgame button {
    padding: 20px;
    margin: 30px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
}

.level {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level button {
    padding: 20px;
    margin: 30px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 18px;
}

.champTaupiqueur {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    padding: 40px;
}

.hole {
    width: 30%;
    height: 187px;
    background-color: #b4ac73;
    border-radius: 100%;
    overflow: hidden;
}

.taupiqueur {
    object-fit: contain;
    display: none;
}

.textbox {
    width: 600px;
    background-color: #e4e4e4;
    border: 4px solid black;
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}